<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="@Url.Scrpit("~/Scripts/vendor/layui/css/layui.css")" />
    <link rel="stylesheet" href="@Url.Scrpit("~/Skin/home/desktop.css")" />
</head>

<body>
    <div class="admin-main">
        <blockquote class="layui-elem-quote">
           
        </blockquote>
        
    </div>
</body>
</html>